@font-face {
  font-family: "New Rocker";
  src: url(../fonts/NewRocker-Regular.ttf);
}

* {
  box-sizing: border-box;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-transform: uppercase;
  color: darkkhaki;
  text-decoration-style: wavy;
  text-shadow: 3px 3px 3px black, 0 0 35px beige, 0 0 25px rgb(143, 143, 182);
  font-family: "New Rocker" cursive;
  font-size: 50px;
  padding-left: 25px;
  letter-spacing: 3px;
  display: inline-block;
}

div {
  display: flex;
  float: right;
  padding: 40px;
  font-size: 22px;
}
a {
  padding: 30px;
  text-decoration: none;
  cursor: alias;
  font-weight: bold;
  font-family: cursive;
  text-shadow: 1px 1px beige;
  transition: all 0.6s ease;
  opacity: 0.7;
}

a:hover {
  display: flex;
  transform: translateY(5px) scale(1.2) rotate(5deg);
  opacity: 1;
  color: brown;
}
